@model IEnumerable<CourseScheduler.Data.Entities.Course>
@{
    ViewBag.Title = "CourseListing";
    ViewBag.InitModule = "courseIndex";
}
@section Scripts{
    <script src="~/js/course-index.js"></script>
}
<h2>Course Listing</h2>
<div data-ng-view=""></div>
<div>
    @foreach(var course in Model)
    {
        <div>@course.CourseNum</div>
    }
</div>
