@{
    ViewBag.Title = "Janith C. Samarasekera - Web Portfolio";
    ViewBag.InitModule = "homeIndex";
}

@*Zen Coding Snippet*@
@*.messages>.message.row>(.title.span10>lorem5)+(.date.span2>{Feb 12 2015})+.contents.span12+.toolbar.span12+.replies.span12*@
@section Scripts {
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/js/home-index.js"></script>
}
<div data-ng-view=""></div>
home